{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)$",
    "^/(.*)$",
    "^(app)/(.*)$",
    "^(pages|views)/(.*)$",
    "^(widgets)/(.*)$",
    "^features/(.*)$",
    "^entities/(.*)$",
    "^shared/(.*)$",
    "^[./]$",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
