:root {
  --siren: rgba(1, 133, 147, 1);
  --white: rgba(255, 255, 255);

  --light-blue: rgba(181, 199, 217, 1);
  --light-blue-2: rgba(212, 227, 255, 1);
  --light-blue-3: rgba(120, 147, 176, 1);

  --grey: rgb(128, 128, 128);
  --grey-2: rgba(214, 215, 220, 1);
  --grey-3: rgba(131, 135, 149, 1);

  --light-grey: rgba(247, 247, 248, 1);
  --light-grey-2: rgba(181, 199, 217, 1);
  --light-grey-3: rgba(117, 135, 149, 1);
  --light-grey-4: rgba(241, 242, 243, 1);
  --light-grey-5: rgba(236, 240, 240, 1);

  --dark-blue: rgba(36, 79, 109, 1);

  --black: rgba(47, 49, 55, 1);

  --light-black: rgba(94, 98, 110, 1);

  --red: rgba(236, 18, 18, 1);

  --red-transparet: rgba(236, 18, 18, 0.1);

  --orange: rgba(250, 173, 20, 1);

  --green: rgba(56, 158, 13, 1);

  --siren-transparet: rgba(181, 199, 217, 0.5);

  --transparent: "transparent";
}
