.container {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;

  .icon {
    background: var(--white);

    height: 36px;
    width: 36px;

    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
