.container {
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;

  margin-bottom: 20px;

  h1 {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-600);

    margin: 0;
  }

  &:last-child {
    margin-top: 32px;
  }
}

.filter {
  margin-top: 20px;
}
