.container {
  display: flex;
  gap: 8px;
}

.input {
  width: 320px;
}

.datePicker {
  width: 100%;
}

.button {
  height: 32px;

  .value {
    height: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
