.information {
  display: flex;
  gap: 20px;

  margin: 20px 0;
}

.left {
  width: 30%;
}

.center {
  width: 40%;
}

.right {
  width: 30%;

  .title {
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-700);

    margin: 0 0 8px;
  }
}

.block {
  margin-bottom: 20px;

  .title {
    font-size: var(--font-size-14);
    color: var(--light-blue-3);

    margin: 0 0 12px;
  }

  .imagesWrapp {
    display: flex;
    gap: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.block {
  margin-bottom: 20px;
}
